body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}
.MainTitle
{
    font-size: 40px;
}
Menu
{
    #Burger
    {
        width: 150px;
    }
    #HotDog
    {
        width: 150px;
    }

}
.Menubar
{
    Display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 5%;
    background-color: palegoldenrod;
}